<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="app">
    <job-detail></job-detail>
  </div>
</body>

<script>
  Vue.config.devtools = true
  Vue.component("job-detail", {
    data: function(){
      return{
        original_message_short: "help us please",
        status: "open",
        area: "Thiruvanmiyur",
        address: `4/819, 3rd Cross Street, Sunnambu Kolathur, 
        Thiruvengadam Nagar, Perungudi, Chennai, Tamil Nadu 600096`,
        phone: 12312,
        type: "rescue",
        squashed_messages:["message ba ba black sheep"],
        acknowledge: true,
        editing: false
      }
    },
    template: `
    <div class="container">
      <button id="edit" v-on:click="toggleEdit">Edit</button>
      <a v-bind:href="whatsapp_link()" data-action="share/whatsapp/share">Share via Whatsapp</a>
      <div v-if="!editing">
        <div id="address">
          <div class="field">{{address}}</div>
          <div class="field">{{area}}</div>
          <div class="field">{{phone}}</div>
          <div class="field">{{status}}</div>
          <div class="field">{{original_message_short}}</div>
        </div>  
      </div>
      <div v-if="editing">
        <input class="block" type="textarea" v-model="address"> 
        <input class="block" type="textarea" v-model="area"> 
        <input class="block" type="textarea" v-model="phone"> 
        <input class="block" type="textarea" v-model="status"> 
        <input class="block" type="textarea" v-model="original_message_short"> 
      </div>   
      <button id="map" v-on:click="openMap">Map</button>
      
      
      
    </div>
    `,
    
    methods : {
      toggleEdit: function(){
        this.editing = !this.editing
      }, 
      openMap: function(){
        var a = encodeURIComponent(this.address)
        var encodededAddress = "https://www.google.com/maps/search/?api=1&query="+a
        window.open(encodededAddress)
      },
      whatsapp_link: function(){

        var long_message = this.squashed_messages[0]+"\n"+this.phone+"\n"+this.address+
         `\nTrack it here: http://localhost:8000/issues/`+this.phone

        return "whatsapp://send?text="+encodeURIComponent(long_message)
      }
    }
  })
  
  var vm = new Vue({
    el : '#app'
  })
  
  
</script>

</html>
