<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/vue-router"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <job-detail v-bind:phone=phone v-bind:address=address v-bind:area=area v-bind:status=status v-bind:detailedMssg=detailedMssg></job-detail>
  </div>
</body>

<script>
  var router = new VueRouter({
    mode: 'history',
    routes: []
  });
  Vue.config.devtools = true
  Vue.component("job-detail", {
    props: ["phone", "address", "area", "status", "detailedMssg"], 
    data: function(){
      return{
        editing: false
      }
    },
    template: `
    <div class="container">
      <nav class="navbar">
        <div class="navbar-brand">
          <a href="#" class="navbar-item">
            <div id="brand">Marshal</div>
          </a>
        </div>
      </nav>
      <button id="edit" v-on:click="toggleEdit" class="button is-pulled-right brand-bg"><i class="far fa-edit"></i></button>
      <a class="button is-pulled-right brand-bg " v-bind:href="whatsapp_link()" data-action="share/whatsapp/share"><i class="fab fa-whatsapp"></i></a>
      <div v-if="!editing">
        <div id="address">
          <div class="field">{{address}}</div>
          <div class="field">{{area}}</div>
          <div class="field">{{phone}}</div>
          <div class="field">{{status}}</div>
          <div class="field">{{detailedMssg}}</div>
        </div>  
      </div>
      <div v-if="editing">
        <input class="block" type="textarea" v-model="address"> 
        <input class="block" type="textarea" v-model="area"> 
        <input class="block" type="textarea" v-model="phone"> 
        <input class="block" type="textarea" v-model="status"> 
        <input class="block" type="textarea" v-model="original_message_short"> 
      </div>   
      <button class="button brand-bg is-pulled-right" id="map" v-on:click="openMap"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
      
      
      
    </div>
    `,
    
    methods : {
      toggleEdit: function(){
        this.editing = !this.editing
      }, 
      openMap: function(){
        var a = encodeURIComponent(this.address)
        var encodededAddress = "https://www.google.com/maps/search/?api=1&query="+a
        window.open(encodededAddress)
      },
      whatsapp_link: function(){
        
        var long_message = this.detailedMssg+"\n"+this.phone+"\n"+this.address+
        `\nTrack it here: http://localhost:8000/issues/`+this.phone
        
        return "whatsapp://send?text="+encodeURIComponent(long_message)
      }
    }
  })
  
  var vm = new Vue({ router, 
    el : '#app',
    data: {
      phone:"",
      status: "open",
      area: "Thiruvanmiyur",
      address: `4/819, 3rd Cross Street, Sunnambu Kolathur, 
      Thiruvengadam Nagar, Perungudi, Chennai, Tamil Nadu 600096`,
      type: "rescue",
      detailedMssg:"message ba ba black sheep",
      acknowledge: true,
    },
    mounted: function(){
      var jsonResponse;
      var xhttp = new XMLHttpRequest()
      var request = "http://localhost:8000/issues/"+this.$route.query.number
      xhttp.open("GET", request, true);
      xhttp.send();
      var data1
      var that = this
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          jsonResponse = JSON.parse(this.responseText)[0];
          that.phone = jsonResponse.phoneNo
          that.area = jsonResponse.area
          that.address = jsonResponse.address
          that.detailedMssg = jsonResponse.detailedMssg
          that.status = jsonResponse.status
          
          console.log(that)
          console.log(jsonResponse)
        }
      };
    }
  })
  
  
</script>

</html>
